@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	direction: rtl;
	font-family: "Vazirmatn", system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

[x-cloak] {
	display: none !important;
}
