@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	direction: rtl;
	font-family: "Vazirmatn", system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

[x-cloak] {
	display: none !important;
}

.htmx-request.htmx-indicator {
	opacity: 1;
	visibility: visible;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

select.decorated option:hover {
	box-shadow: 0 0 10px 100px #a87618 inset;
}

.input-style {
	@apply bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500;
}
