<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
		></script>
	</head>
	<body>
		<nav class="bg-white dark:bg-gray-800 antialiased relative">
			<div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
				<div class="flex items-center justify-between space-x-8">
					<div class="shrink-0 logo text-white">hello</div>

					<ul
						class="hidden capitalize lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center"
					>
						<li>
							<a
								href="#"
								title=""
								class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
							>
								Home
							</a>
						</li>
						<li class="shrink-0">
							<a
								href="{%url 'password_change'%}"
								title=""
								class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
							>
								change password
							</a>
						</li>
						<li class="shrink-0">
							<a
								href="#"
								title=""
								class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
							>
								Gift Ideas
							</a>
						</li>
						<li class="shrink-0">
							<a
								href="#"
								title=""
								class="text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
							>
								Today's Deals
							</a>
						</li>
						<li class="shrink-0">
							<a
								href="#"
								title=""
								class="text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
							>
								Sell
							</a>
						</li>
						<li class="flex items-center lg:space-x-2">
							{% if user.is_authenticated %}
							<button
								x-data="{open:false}"
								@click="open= !open"
								id="userDropdownButton1"
								type="button"
								class="capitalize bg-gray-900 border p-2 relative inline-flex items-center rounded-lg justify-center hover:bg-gray-100 dark:hover:bg-gray-700 text-sm font-medium leading-none text-gray-900 dark:text-white"
							>
								<svg
									class="w-5 h-5 me-1"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									fill="none"
									viewBox="0 0 24 24"
								>
									<path
										stroke="currentColor"
										stroke-width="2"
										d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
									/>
								</svg>
								{{user}}

								<svg
									class="w-4 h-4 text-gray-900 dark:text-white ms-1"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									fill="none"
									viewBox="0 0 24 24"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m19 9-7 7-7-7"
									/>
								</svg>

								<div
									id="userDropdown1"
									@click.outside="open = false"
									x-show="open"
									class="z-10 w-56 divide-y divide-gray-100 overflow-hidden overflow-y-auto rounded-lg bg-white antialiased shadow dark:divide-gray-600 dark:bg-gray-700 absolute top-0 right-0 mt-[50px]"
								>
									<ul
										class="capitalize p-2 text-start text-sm font-medium text-gray-900 dark:text-white"
									>
										<li>
											<a
												href="#"
												title=""
												class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
											>
												profile
											</a>
										</li>

										<li>
											<a
												href="#"
												title=""
												class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
											>
												settings
											</a>
										</li>
									</ul>

									<div
										class="p-2 text-sm font-medium text-gray-900 dark:text-white"
									>
										<a
											href="{%url 'logout'%}"
											title=""
											class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
										>
											Sign Out
										</a>
									</div>
								</div>
							</button>
							{% else %}
							<a
								href="{%url 'login'%}"
								class="bg-gray-900 text-sm font-medium border inline-flex items-center justify-center hover:bg-gray-100 rounded-md dark:hover:bg-gray-700 p-2 text-gray-900 dark:text-white"
								>Login</a
							>
							<a
								href="{%url 'register'%}"
								class="bg-gray-900 text-sm font-medium border inline-flex items-center justify-center hover:bg-gray-100 rounded-md dark:hover:bg-gray-700 p-2 text-gray-900 dark:text-white"
							>
								Register
							</a>
							{% endif %}

							<button
								type="button"
								x-data="{openmenu:true}"
								@click="openmenu = !openmenu"
								class="inline-flex lg:hidden items-center justify-center hover:bg-gray-100 rounded-md dark:hover:bg-gray-700 p-2 text-gray-900 dark:text-white"
							>
								<span class="sr-only"> Open Menu </span>
								<svg
									class="w-5 h-5"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									fill="none"
									viewBox="0 0 24 24"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-width="2"
										d="M5 7h14M5 12h14M5 17h14"
									/>
								</svg>

								<div
									id="ecommerce-navbar-menu-1"
									x-show="openmenu"
									class="bg-gray-50 text-start dark:bg-gray-700 dark:border-gray-600 border border-gray-200 rounded-lg rounded-tl-none rounded-tr-none py-3 px-4 mt-[68px] absolute w-full top-0 left-0"
								>
									<ul
										class="text-gray-900 text-sm font-medium dark:text-white space-y-3"
									>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Home</a
											>
										</li>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Best Sellers</a
											>
										</li>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Gift Ideas</a
											>
										</li>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Games</a
											>
										</li>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Electronics</a
											>
										</li>
										<li>
											<a
												href="#"
												class="hover:text-primary-700 dark:hover:text-primary-500"
												>Home & Garden</a
											>
										</li>
									</ul>
								</div>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>
