{% extends "base.html" %}
{% block content %}
    <section class="relative">
        {% if user.is_authenticated %}
            <a href="{% url 'view_cart' %}"
               class="absolute z-50 top-1/2 p-4 bg-orange-600 rounded-xl flex items-center text-white">
	
                <svg class="w-8 h-8 text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="currentColor"
                     viewBox="0 0 24 24">
	
                    <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd" />
	
                </svg>
	
                <div class="mt-1">
                    {{ cart }}
                </div>
            </a>
        {% endif %}
	
        <div id="modal">
        </div>
	
        <div class="container">
	
            <h1 class="text-2xl font-bold mb-4 p-4 text-center">
                اضافة الطلبات
            </h1>
	
            <div class="search flex justify-between gap-5 items-center relative mb-4">
	
                <form class="w-full items-center flex" method="post">
                    {% csrf_token %}
	
                    <label for="default-search"
                           class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
                        Search
                    </label>
	
                    <div class="relative w-full">
	
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
	
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 20 20">
	
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
	
                            </svg>
	
                        </div>
	
                        <input type="search"
                               hx-post="{% url 'home' %}"
                               hx-target="body"
                               hx-trigger="change"
                               id="default-search"
                               name="search"
                               class="text-right block w-full p-4 pl-10 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-mainColor focus:border-mainColor dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
	
                    </div>
	
                    <button type="button"
                            class="mx-4 text-white bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-lg px-4 py-2 dark:bg-orange-600 dark:focus:ring-orange-800">
                        بحث
	
                    </button>
	
                    <select class="bg-orange-50 border border-orange-300 text-orange-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-64 p-2.5 dark:bg-orange-700 dark:border-orange-600 dark:placeholder-orange-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 text-left"
                            name="category"
                            hx-post="{% url 'home' %}"
                            hx-target="body"
                            hx-trigger="change">
	
                        <option selected disabled>
                            التصنيفات
                        </option>
	
                        {% for category in categories %}

	
                            <option value=" {{ category.name }} ">
                                {{ category.name }}
                            </option>

	
                        {% endfor %}
	
                    </select>
	
                </form>
	
            </div>

	
            <div class="relative items w-full rounded-md border overflow-y-scroll scroll h-96">
	
                {% for meal in meals %}
	
                    <div class="absolute opacity-0 invisible transition top-0 bottom-0 w-full bg-orange-400 flex justify-center items-center loading htmx-indicator">
	
                        <div role="status">
	
                            <svg aria-hidden="true"
                                 class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-orange-600"
                                 viewBox="0 0 100 101"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
	
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
	
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
	
                            </svg>
                            <span class="sr-only">Loading...</span>
	
                        </div>
	
                    </div>
	
                    <div class="item flex p-4 justify-between items-center border-b last-of-type:border-0 md:flex-row flex-col">
	
                        <div class="info flex">
	
                            <div class="ml-4">
                                {{ meal.name }}
                            </div>
	
                            <div>
                                {{ meal.price }} ج.م
                            </div>
	
                        </div>
	
                        <div class="flex font-semibold">
 
                            {% if user.is_authenticated %}
                                <a hx-get="{% url 'add_to_cart' meal.id %}"
                                   hx-target="body"
                                   hx-indicator=".loading"
                                   class="text-white cursor-pointer px-6 py-4 rounded-lg bg-orange-400 hover:bg-orange-600 transition">
                                    اضافة
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}"
                                   class="text-white cursor-pointer px-6 py-4 rounded-lg bg-orange-400 hover:bg-orange-600 transition">
                                    اضافة
                                </a>
                            {% endif %}
 
 
 
                            <a hx-get="{% url 'getMeal' meal.id %}"
                               hx-target="#modal"
                               x-on:click="isModalOpen=true"
                               hx-indicator="#loading"
                               x-cloak
                               class="text-white cursor-pointer px-6 py-4 rounded-lg bg-orange-400 hover:bg-orange-600 transition mr-4">
	
                                <svg class="w-6 h-6 text-white"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 14">
	
                                    <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
	
                                    <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
	
                                    <path d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z" />
	
                                    </g>
	
                                </svg>
                            </a>
	
                        </div>
	
                    </div>
                {% empty %}
	
                    <p class="p-4">
                        لايوجد
                    </p>
	
                {% endfor %}
	
            </div>
	
        </div>
    </section>

{% endblock content %}
